$clr-dark: #201e1f;
$clr-light: #f8f7f7;
$clr-primary: #da3f0b;

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-size: 1.75rem;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    background: $clr-light;
    color: $clr-dark;
    /* this is being used to center the content on the screen */
    display: grid;
    height: 100vh;
    place-items: center;
  }
  
  .card {
    display: grid;
    gap: 0.75em;
    width: min(90%, 60rem);
    padding: 2em;
    box-shadow: 0 0 2rem $clr-dark;
    border-radius: 0.5rem;
    &__title {
        color: $clr-primary;
    }

    .btn {
        display: inline-block;
        padding: 0.5em 1.5em;
        text-decoration: none;
        border: $clr-primary solid 3px;
        border-radius: 0.5rem;
        &--primary {
            background: $clr-primary;
            color: $clr-light;
        }
        &--outline {
            color: $clr-primary;
            
        }
        &:hover, &:focus {
            background: $clr-dark;
            color: $clr-light;
            box-shadow: 0 0 1rem $clr-primary;
        }
    }
  }

  .flex-group {
    display: flex;
    gap: 1rem;
  }