ul {
    li {
        text-decoration: none;
    }
}

/*-----------1. Parent Selector Start--------------*/
.card {
    background-color: black;
    &-title {
        color: aqua;
    }
}
/*-----------1. Parent Selector End--------------*/


/*-----------2. Nesting Properties Start--------------*/
a{
    text: {
        transform:uppercase;
        decoration:none;
    }
}
/*-----------2. Nesting Properties End--------------*/


/*-----------3. BEM Style Start--------------*/
.card {
    &__title {
        font-size: 3rem;
    }
    &__subtitle {
        font-size: 1.75rem;
    }
    &__body {
        font-size: 2rem;
    }
}


/*-----------3. BEM Style End--------------*/


/*-----------4. Trailing Parent Selector Start--------------*/
p {
    max-width: 60ch;
    .text-centered & {
        color: red;
        margin-inline: auto;
    }
}

.text-centered {
    text-align: center;
}



/*-----------4. Trailing Parent Selector End--------------*/


/*-----------5. With Media Queries Start--------------*/
.product-card {
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
  
    &__title {
      font-size: 1.5rem;
    }
  
    @media (min-width: 45em) {
      padding: 0.75rem;
    }
  
    @media (min-width: 60rem) {
      padding: 1rem;
      display: flex;
  
      &__title {
        font-size: 2.5rem;
      }
    }
  }
/*-----------5. With Media Queries End--------------*/