ul {
    li {
        text-decoration: none;
    }
}

/*-----------1. Parent Selector Start--------------*/
.card {
    background-color: black;
    &-title {
        color: aqua;
    }
}
/*-----------1. Parent Selector End--------------*/


/*-----------2. Nesting Properties Start--------------*/
a{
    text: {
        transform:uppercase;
        decoration:none;
    }
}
/*-----------2. Nesting Properties End--------------*/